*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
ul{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
}
ul li{
    padding: 2rem;
}
ul li a{
    text-decoration: none;
    color: #333;
}